// Футер
footer {
  background-color: $background-footer;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    text-align: unset;
  }
}
