//Хедер
//Панель
header {
  position: relative;
  border-bottom: $border-header;
  background-color: $main-white-color;
}
.header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
  align-items: center;
}
