//Хедер
//Панель
header {
  position: relative;
  border-bottom: $border-header;
  background-color: $main-white-color;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
