//Герой
.hero {
  // max-width: 100%;
  max-width: 480px;
  height: auto;
  margin-left: auto;
  margin-right: auto;

  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        to right,
        $background-hero,
        $background-hero
      ),
      url(../images/bcg/bcg-img-mobile-1x.jpg);
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bcg/bcg-img-mobile-2x.jpg);
    }
  }
  text-align: center;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(
        to right,
        $background-hero,
        $background-hero
      ),
      url(../images/bcg/bcg-img-tabl-1x.jpg);
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bcg/bcg-img-tabl-2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        $background-hero,
        $background-hero
      ),
      url(../images/bcg/bcg-img-desk-1x.jpg);
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bcg/bcg-img-desk-2x.jpg);
    }
  }
}

.hero-container__title {
  margin-bottom: 30px;
  font-weight: 900;
  @media screen and (max-width: 1199px) {
    @include font-properties(26, 1.615, 0.06);
  }

  @media screen and (min-width: 1200px) {
    @include font-properties(44, 1.364, 0.06);
  }
  text-transform: uppercase;
  color: $main-white-color;
}
