.modal-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  @media screen and (max-width: 1199px) {
    max-width: 370px;
  }
  @media screen and (min-width: 1200px) {
    width: 448px;
  }
  &--comment {
    margin-bottom: 20px;
  }
  &:hover > .modal-form__icon,
  &:focus-within > .modal-form__icon {
    fill: $accent-color;
    cursor: pointer;
  }
  &:hover > .modal-form__input,
  &:focus-within > .modal-form__input {
    cursor: pointer;
    outline: none;
    border: 1px solid $accent-color;
  }
}

.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: $secondary-text-color;
}
.modal-form__input {
  padding: 11px 42px;
  border: 1px solid $border-form-input;
  border-radius: 4px;
}

// Иконки модального окна

.modal-form__icon {
  position: absolute;
  top: 30px;
  left: 12px;
  fill: $primary-text-color;
}
// Поле комментария

.modal-form__input--comment {
  display: block;
  resize: none;
  height: 120px;

  padding: 12px 16px;
  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
