/* Наша команда */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  background-color: $background-buttons;
}
.team-list {
  display: flex;
  @include font-properties(16, 1.188, 0.03);

  &__item {
    background-color: $main-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__image {
    margin-bottom: 30px;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 500;
    text-align: center;
  }
  &__position {
    margin-bottom: 16px;
    text-align: center;
  }
}
