// Логотип

.logo {
  display: block;

  font-family: $logo-font;
  font-weight: 700;
  @include font-properties(24, 1.167, 0.03);
  @media screen and (min-width: 1200px) {
    @include font-properties(26, 1.192, 0.03);
  }

  &__part--accent {
    color: $accent-color;
  }
  &__part--black {
    color: $logo-text-color;
  }
  &__part--white {
    color: $main-white-color;
  }
  &:focus {
    box-shadow: 0 0 0 0.1em $accent-color;
  }
}
