.nav-list {
  @media screen and (max-width: 767px) {
    margin-bottom: -32px;
    // margin-bottom: auto;

    &__link {
      display: block;
      // padding-top: 32px;
      // padding-bottom: 32px;
      margin-bottom: 32px;
      font-weight: 500;
      @include font-properties(40, 1.175, 0.02);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus,
      &--current {
        color: $accent-color;
      }
      // &--current::after {
      //   content: "";
      //   position: absolute;
      //   bottom: 0;
      //   margin-bottom: -1px;

      //   display: block;
      //   width: 100%;
      //   height: 4px;

      //   border-radius: 2px;
      //   background-color: $accent-color;
      // }
    }
  }
  @media screen and (min-width: 767px) {
  }
  // display: flex;
  // margin-left: 93px;
  // &__item {
  //   position: relative;
  // }
  // &__item:not(:last-child) {
  //   margin-right: 50px;
  // }
  // &__link {
  //   display: block;
  //   padding-top: 32px;
  //   padding-bottom: 32px;

  //   font-weight: 500;
  //   @include font-properties(14, 1.14, 0.02);
  //   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  //   &:hover,
  //   &:focus,
  //   &--current {
  //     color: $accent-color;
  //   }
  //   &--current::after {
  //     content: "";
  //     position: absolute;
  //     bottom: 0;
  //     margin-bottom: -1px;

  //     display: block;
  //     width: 100%;
  //     height: 4px;

  //     border-radius: 2px;
  //     background-color: $accent-color;
  //   }
  // }
}
