/* Блок соцмереж */
.social-list {
  @extend %flex-centered;

  &--team {
    // margin-bottom: 24px;

    // margin-bottom: 30px;
    // padding-right: 32px;
    // padding-left: 32px;
  }
  // &__item--team:not(:last-child) {
  //   margin-right: 10px;
  // }
  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    @extend %flex-centered;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;

    &--team {
      background-color: $main-white-color;
      color: $icons-color;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &--footer {
      background-color: rgba(255, 255, 255, 0.1);
      color: $main-white-color;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &--team:hover,
    &--team:focus,
    &--footer:hover,
    &--footer:focus {
      background: $accent-color;
      color: $main-white-color;
    }
  }
  &__icon {
    fill: currentColor;
  }
}
