// Subscribe form

.subscribe-form {
  // width: 570px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) {
    width: 570px;
    margin-left: 0;
    margin-right: 0;
  }
  &__call {
    margin-bottom: 20px;
  }
}

.subscribe-field {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
  &__form-input {
    padding: 15px 16px;
    width: 100%;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      width: 450px;
      margin-right: 12px;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-bottom: 0;
    }

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: $main-white-color;
    &::placeholder {
      @include font-properties(16, 1.25, 0.03);
      color: $secondary-white-color;
    }
  }
  &__main-button {
    margin-left: auto;
    margin-right: auto;
    @extend %flex-centered;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
}

.main-button__subscribe-icon {
  margin-left: 10px;
}
