// Subscribe form

.subscribe-form {
  width: 570px;
  &__call {
    margin-bottom: 20px;
  }
}

.subscribe-field {
  display: flex;
  &__form-input {
    margin-right: 12px;
    padding: 15px 16px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: $main-white-color;
    &::placeholder {
      @include font-properties(16, 1.25, 0.03);
      color: $secondary-white-color;
    }
  }
  &__main-button {
    @extend %flex-centered;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
}

.main-button__subscribe-icon {
  margin-left: 10px;
}
