body {
  font-family: $main-font;
  font-style: normal;
  color: $primary-text-color;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body.modal-open {
  @media screen and (max-width: 767px) {
    overflow: hidden;
  }
}
p {
  color: $secondary-text-color;

  @extend %null;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  font-family: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
