body {
  font-family: $main-font;
  font-style: normal;
  color: $primary-text-color;
}
p {
  color: $secondary-text-color;

  @extend %null;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  font-family: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
