$primary-text-color: #212121;
$secondary-text-color: #757575;
$main-white-color: #ffffff;
$secondary-white-color: rgba(255, 255, 255, 0.6);
$background-hero: rgba(47, 48, 58, 0.4);
$background-about-items: rgba(47, 48, 58, 0.8);
$background-footer: #2f303a;
$background-buttons: #f5f4fa;
$background-backdrop: rgba(0, 0, 0, 0.2);
$accent-color: #2196f3;
$background-accent-color: rgba(33, 150, 243, 0.9);
$logo-text-color: #000000;
$icons-color: #afb1b8;
$border-cards: 1px solid #eeeeee;
$border-header: 1px solid #ececec;
$border-close-button: rgba(0, 0, 0, 0.1);
$border-form-input: rgba(33, 33, 33, 0.2);
$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
